<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    {% load static %}
    <title>{% trans 'Payment' %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/payments.css' %}">
</head>
<body>
<form action="{% url 'payments' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="cardNumber">
                                    CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="text" pattern="\d*" maxlength="16" minlength="16" name="num" class="form-control" id="cardNumber"
                                           placeholder="Card Number"
                                           required autofocus/>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            EXPIRY DATE</label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="number" name="mm" min="1" max="12" class="form-control" id="expityMonth" placeholder="MM"
                                                   required/>
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="number" name="yy" min="2017" max="2100" class="form-control" id="expityYear" placeholder="YY"
                                                   required/></div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">
                                            CVV CODE</label>
                                        <input type="password" name="cvv" class="form-control" maxlength="3" minlength="3" id="cvvCode" placeholder="CVV"
                                               required/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <input type="submit" class="btn btn-success btn-lg btn-block" value="Pay">
            </div>
        </div>
    </div>
</form>

</body>
</html>