#timer1, #timer2 {
    width: 25%;
    height: 60%;
    border: solid 7px #3898ec;
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    font-size: 17pt;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: #2662ec;
    padding-top: 60px;
    margin-left: 40%;
}